<%- include('partials/header') %>
<h2>Welcome, <%= user.name %></h2>
<a href="/register" class="btn">Register as Student</a>
<a href="/logout" class="btn">Logout</a>
<p><%= message %></p>
<%- include('partials/footer') %>
