<%- include('partials/header') %>
<div class="landing-container">
    <h2>Welcome to Sherubtse College Student Registration</h2>
    <a href="/login" class="btn">Login</a>
    <a href="/signup" class="btn">Signup</a>
</div>
<%- include('partials/footer') %>
