<%- include('partials/header') %>
<h2>Signup</h2>
<form method="POST" action="/signup">
    <input type="text" name="name" placeholder="Full Name" required>
    <input type="email" name="email" placeholder="College Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Signup</button>
</form>
<p class="error"><%= message %></p>
<%- include('partials/footer') %>
